.description__price {
    align-items: center;
    display: flex;
    margin-bottom: 25px;
}

.description__priceItem {
    font-family: Roboto-Regular, sans-serif;
    font-size: 4rem;
    line-height: 1.025;
    margin-right: 20px;
}
.description__priceItem--old {
    position: relative;
}

.description__priceItem--old::before {
    border: none;
    border-radius: 2px;
    bottom: 5px;
    background-color: #DD0C0C;
    content: "";
    display: inline-block;
    height: 3px;
    left: 7px;
    position: absolute;
    transform: rotate(-20deg);
    transform-origin: left center;
    width: 95%;
}
.description__priceItem--old::before {
    bottom: 3px;
    left: -12px;
}
.description__priceItem:last-child {
    margin-right: 0;
}

.description__priceItem--new {
    color: #DD0C0C;
}
::-webkit-calendar-picker-indicator {
    color: transparent;
    opacity: 1;
    background: url('../img/index/mailing/calendar.png') no-repeat center;
    background-size: contain;
}
@media (max-width: 375px) {
    .description__priceItem {
        font-size: 2.4rem;
    }
}
