/* Welcome */
.welcome {
  background: url(../img/index/welcome/welcome_bg.webp) no-repeat 50% 22%/cover;
  height: 100vh;
  margin-bottom: 150px;
  position: relative;
}

.welcome__bgShadow {
  background-color: rgba(0, 0, 0, 0.3);
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 0;
}

.welcome__body {
  height: 100%;
  position: relative;
  z-index: 1;
}

.welcome__banner {
    background-color: rgba(254, 237, 214, 0.8);
    border-radius: 10px;
    color: #99006c;
    font-family: IBMPlexSerif-Regular, sans-serif;
    font-size: 3rem;
    left: 0;
    letter-spacing: 0.02em;
    line-height: 1.3;
    padding: 15px 66px;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    top: 148px;
    width: 100%;
}
.welcome__container {
  align-items: center;
  display: flex;
  flex-direction: column;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -40%);
  width: 100%;
}

.welcome__title {
  color: #fff;
  font-family: IBMPlexSerif-Regular, sans-serif;
  font-size: 8rem;
  line-height: 1.3;
  text-align: center;
  letter-spacing: 0.02em;
  max-width: 1190px;
  margin-bottom: 59px;
  text-transform: uppercase;
}

.welcome__subtitle {
  color: #fff;
  font-family: Roboto-Light, sans-serif;
  font-size: 3rem;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.02em;
  margin-bottom: 78px;
  max-width: 785px;
}

.welcome__btns {
  display: flex;
  justify-content: center;
  width: 100%;
}

.welcome__btn {
  flex-shrink: 0;
  max-width: 300px;
  margin-right: 70px;
}
.welcome__btn:last-child {
  margin-right: 0;
}

/* End Welcome */
/* Select */
.select {
  margin-bottom: 150px;
}

.select__header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 0 -7px 60px;
  overflow-x: auto;
  padding-bottom: 10px;
}

.select__headerItem a {
    color: #000;
}
.select__headerItem {
  background-color: transparent;
  border: 1px solid transparent;
  flex-shrink: 0;
  font-family: IBMPlexSerif-Light, sans-serif;
  font-size: 2rem;
  line-height: 1.02;
  margin: 0 7px;
  padding-bottom: 5px;
  color: #000;
}
.select__headerItem.active {
  color: #99006C;
  cursor: default;
}
.select__headerItem.active::before {
  height: 0;
}
.select__headerItem:not(.active):hover {
  text-shadow: 0 0 1px #121212;
}

.select__slider .slick-slide {
  margin: -17px 0;
}
.select__slider .slick-slide > div {
  display: flex;
}
.select__slider.slick-dotted.slick-slider {
  margin-bottom: 70px;
}

.select__sliderItem {
  margin: 17px 0;
}

.select__sliderItemContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0 auto;
  max-width: 290px;
  position: relative;
  width: 100%;
}
.select__sliderItemContainer img {
  border-radius: 2px;
  max-height: 290px;
  margin-bottom: 13px;
  object-fit: cover;
  overflow: hidden;
  width: 100%;
}

.select__sliderItemHave {
  background: #73626E;
  border: 1px solid #fff;
  color: #fff;
  font-family: Roboto-Regular, sans-serif;
  font-size: 1.4rem;
  line-height: 1.14;
  left: 50%;
  position: absolute;
  padding: 6px;
  text-align: center;
  top: 6px;
  transform: translateX(-50%);
  width: 96%;
}

.select__sliderItemText {
  color: #121212;
  flex-grow: 7;
  font-family: IBMPlexSerif-Light, sans-serif;
  font-size: 1.8rem;
  line-height: 1.28;
  margin-bottom: 10px;
}

.select__sliderPrice {
  align-items: center;
  display: flex;
  flex-grow: 1;
}

.select__sliderPriceItem {
  color: #121212;
  font-family: IBMPlexSerif-Regular, sans-serif;
  font-size: 2.4rem;
  line-height: 1.29;
  margin-right: 5px;
}
.select__sliderPriceItem:last-child {
  margin-right: 0;
}

.select__sliderPriceItem--old {
  position: relative;
}
.select__sliderPriceItem--old::before {
  background-color: #121212;
  border: none;
  content: "";
  display: inline-block;
  left: 0;
  height: 1px;
  position: absolute;
  top: 60%;
  width: 100%;
}

.select__sliderPagWrapper {
  text-align: center;
}

/* End Select */
/* Offer */
.offer {
  margin-bottom: 150px;
}

.offer__product {
  display: flex;
}

.offer__productImg {
  border-radius: 10px;
  flex-grow: 1;
  margin-right: 20px;
  max-height: 600px;
  max-width: 600px;
  object-fit: cover;
  width: 48%;
}

.offer__productBody {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-between;
  max-width: 600px;
  width: 48%;
}

.offer__productTitle {
  font-family: IBMPlexSerif-Regular, sans-serif;
  font-size: 3.2rem;
  margin-bottom: 10px;
}

.offer__productSubtitle {
  font-family: Roboto-Regular, sans-serif;
  margin-bottom: 10px;
}

.offer__productComponents {
  margin-bottom: 10px;
}
.offer__productComponents span {
  font-family: Roboto-Regular, sans-serif;
}

.offer__productEnergy {
  margin-bottom: 10px;
}

.offer__productEnergyTitle {
  font-family: Roboto-Regular, sans-serif;
}

.offer__productSize {
  margin-bottom: 10px;
}

.offer__productSizeItem {
  display: flex;
}

.offer__productSizeItemPriceBlock {
  font-family: Roboto-Regular, sans-serif;
}

.offer__productSizeItemPriceBlock--old {
  font-family: Roboto-Light, sans-serif;
  position: relative;
}
.offer__productSizeItemPriceBlock--old::before {
  background-color: #121212;
  border: none;
  content: "";
  display: inline-block;
  left: 0;
  height: 1px;
  position: absolute;
  top: 60%;
  width: 100%;
}

.offer__productBtns {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.offer__productBtn {
  margin-right: 10px;
  max-width: 280px;
}
.offer__productBtn:last-child {
  margin-right: 0;
}

/* End Offer */
/* Size */
.size {
  margin-bottom: 150px;
  position: relative;
}

.size__bg {
  background-color: #FEEDD6;
  height: 476px;
  left: 0;
  position: absolute;
  top: 119px;
  width: 100%;
  z-index: -1;
}

.size__title {
  margin-bottom: 50px;
}

.size__itemsWrapper {
  position: relative;
}

.size__itemsBg {
  background-color: #FEEDD6;
  display: none;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}

.size__items {
  display: flex;
  justify-content: space-between;
}

.size_item {
  align-items: center;
  display: flex;
  flex-direction: column;
}
.size_item:last-child {
  margin-right: 0;
}
.size_item:nth-child(1) {
  width: 22.2%;
}
.size_item:nth-child(2) {
  width: 31.5%;
}
.size_item:nth-child(3) {
  width: 36.5%;
}

.size_itemImg {
  height: 476px;
  margin-bottom: 20px;
  position: relative;
  width: 100%;
}
.size_itemImg:hover .size_itemImg--main {
  opacity: 0;
}
.size_itemImg:hover .size_itemImg--hover {
  opacity: 1;
}
.size_itemImg img {
  left: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
}

.size_itemImg--main {
  opacity: 1;
}

.size_itemImg--hover {
  opacity: 0;
}

.size_itemTitle {
  font-family: Roboto-Light, sans-serif;
  font-size: 3.2rem;
  margin-bottom: 25px;
  text-align: center;
}

.size_itemWeight {
  font-family: Roboto-Light, sans-serif;
  font-size: 2.4rem;
  margin-bottom: 25px;
    white-space: pre;
}

.size_itemText {
  line-height: 1.15;
  text-align: center;
  width: 95%;
}

/* End Size */
/* About */
.about {
  margin-bottom: 150px;
}

.about__body {
  display: flex;
  min-height: 710px;
  position: relative;
}

.about__content {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  margin-right: 40px;
  min-width: 490px;
  width: 40.8%;
}

.about__title {
  line-height: 1.3;
  margin-bottom: 45px;
}

.about__text {
  flex-grow: 1;
}
.about__text p {
  margin-bottom: 25px;
}
.about__text p:last-child {
  margin-bottom: 0;
}

.about__btn {
  max-width: 415px;
}

.about__images {
  display: flex;
  position: relative;
  padding-top: 15px;
  width: 59.2%;
}
.about__images img {
  border-radius: 5px;
  display: block;
  object-fit: cover;
  position: relative;
}
.about__images img:nth-child(1) {
  margin-right: 25px;
  height: 539px;
  min-width: 395px;
  width: 395px;
}
.about__images img:nth-child(2) {
  height: 316px;
  top: 115px;
  position: absolute;
  right: 0;
  width: 263px;
  z-index: -1;
}
.about__images img:nth-child(3) {
  bottom: 0;
  left: 50%;
  height: 256px;
  width: 413px;
  transform: translateX(-50%);
  position: absolute;
}

/* End About */
/* Advantage */
.advantage {
  margin-bottom: 150px;
}
.advantage .container {
  overflow: hidden;
}

.advantage__title {
  margin-bottom: 50px;
}

.advantage__itemsWrapper {
  background-color: #FEEDD6;
  padding: 50px 0;
}

.advantage__items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: -45px -125px;
}

.advantage__item {
  margin: 45px 0;
  width: 306px;
}

.advantage__itemImg {
  height: 75px;
  display: block;
  margin: 0 auto 30px;
  width: 75px;
}

.advantage__itemText {
  font-family: Roboto-Light, sans-serif;
  font-size: 3.1rem;
  text-align: center;
}

/* End Advantage */
/* Mailing */
.mailing {
    margin-bottom: 105px;
}
.mailing .container {
    padding: 0;
}

.mailing__border {
    border: 3px solid #AD7D80;
    border-radius: 10px;
    margin: 0 auto;
    max-width: 1370px;
    padding: 45px;
}

.mailing__body {
    position: relative;
}

.mailing__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 750px;
    width: 51vw;
}

.mailing__title {
    display: inline-block;
    line-height: 1;
    margin: 0 -50px 60px 0;
    position: relative;
    padding-right: 50px;
}

.mailing__img {
    display: block;
    top: 8px;
    height: 38px;
    position: absolute;
    right: 7px;
    width: 38px;
}

.mailing__video {
    border-radius: 8px;
    bottom: 0;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0;
    max-width: 447px;
    width: 38vw;
}
.mailing__video video {
    display: block;
    height: 100%;
    object-fit: cover;
    width: 100%;
}

.mailing__subtitle {
    margin-bottom: 30px;
    font-family: Roboto-Regular, sans-serif;
    font-size: 3.2rem;
    line-height: 1.19;
}

.mailing__text {
    margin-bottom: 60px;
}
.mailing__text p {
    margin-bottom: 30px;
}
.mailing__text p:last-child {
    margin-bottom: 0;
}

.mailing__form .blockTextField {
    border: 1px solid rgba(173, 125, 128, 0.9);
    border-radius: 10px;
    min-height: 55px;
    padding: 0 20px;
    width: 100%;
}

.mailing__formFields {
    display: flex;
    flex-wrap: wrap;
    margin: -10px -10px 30px -10px;
    justify-content: space-between;
}

.mailing__formField {
    flex-grow: 1;
    margin: 10px;
}

.mailing__formFieldTitle {
    color: rgba(18, 18, 18, 0.7);
    display: inline-block;
    font-family: Roboto-Light, sans-serif;
    font-size: 1.6rem;
    line-height: 0.63;
    margin-bottom: 10px;
}

.mailing__formInputWrapper {
    position: relative;
}

.mailing__formFieldImg {
    cursor: pointer;
    height: 27px;
    position: absolute;
    right: 10px;
    top: 14px;
    width: 26px;
}

.mailing__formSend {
    margin-bottom: 10px;
}

.mailing__formNote {
    color: #ad7d80;
    font-family: Roboto-Light, sans-serif;
    font-size: 1.5rem;
    line-height: 1.33;
}

/* End Mailing */
/* Feedback */
.feedback {
  margin-bottom: 150px;
}
.feedback .container {
  overflow: hidden;
}

.feedback__slider {
  margin: 0 -87px;
}
.feedback__slider.slick-dotted.slick-slider {
  margin-bottom: 70px;
}

.feedback__sliderItemContainer {
  height: 516px;
  margin: 0 87px;
  overflow: hidden;
  border-radius: 5px;
  position: relative;
  width: 290px;
}
.feedback__sliderItemContainer img {
  display: block;
  height: 100%;
  width: 100%;
}

.feedback__sliderPagWrapper {
  text-align: center;
}

/* End Feedback */
/* Info */
.info {
  margin-bottom: 150px;
}

.info__content {
  display: flex;
  flex-wrap: wrap;
  margin: -15px 0;
}

.info__map {
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  flex-grow: 1;
  height: 465px;
  margin: 15px 20px 15px 0;
  max-height: 465px;
  max-width: 600px;
  overflow: hidden;
  width: 47%;
}
.info__map img {
  display: block;
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.info__items {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-between;
  margin: 15px 0;
  min-width: 500px;
  width: 48%;
}

.info__item {
  margin-bottom: 20px;
}
.info__item:last-child {
  margin-bottom: 0;
}

.info__itemTitle {
  font-family: Roboto-Regular, sans-serif;
  font-size: 3.2rem;
  font-weight: 400;
  margin-bottom: 20px;
}

.info__itemText span {
  font-family: Roboto-Regular, sans-serif;
}

/* End Info */
/* Contact */
.contact {
  margin-bottom: 150px;
}

.contact__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: -15px -10px;
}

.contact__text {
  flex-grow: 1;
  max-width: 610px;
  margin: 15px 10px;
  width: 47%;
}

.contact__subtitle {
  line-height: 1.15;
  margin-bottom: 50px;
}

.contact__comText {
  margin-bottom: 30px;
}

.contact__comTextItem {
  font-family: Roboto-Regular, sans-serif;
  font-size: 2.8rem;
  margin-bottom: 30px;
}
.contact__comTextItem a, .contact__comTextItem span {
  color: #121212;
  font-family: Roboto-Light, sans-serif;
}
.contact__comTextItem:last-child {
  margin-bottom: 0;
}

.contact__comIcons {
  align-items: center;
  display: flex;
}

.contact__comIcon {
  border-radius: 50%;
  display: block;
  height: 50px;
  margin-right: 30px;
  width: 50px;
}
.contact__comIcon:last-child {
  margin-right: 0;
}
.contact__comIcon img {
  display: block;
  height: 100%;
  width: 100%;
}

.contact__form {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  max-width: 610px;
  margin: 15px 10px;
  width: 47%;
}
.contact__form .blockTextField {
  border: 1px solid rgba(173, 125, 128, 0.9);
  border-radius: 10px;
  margin-bottom: 35px;
  min-height: 63px;
  padding: 24px 20px 24px;
  resize: none;
  width: 100%;
}
.contact__form textarea {
  flex-grow: 1;
}

.contact__formSend {
  width: 100%;
}

/* End Contact */
/* Profitably */
.profitably {
  margin-bottom: 150px;
}

.profitably__title {
  line-height: 1;
  margin-bottom: 0;
}

.profitably__body {
  display: flex;
  justify-content: center;
  margin: -15px -15px;
}

.profitably__content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-between;
  margin: 15px;
  max-width: 610px;
  width: 47%;
}

.profitably__text {
  margin-bottom: 20px;
}
.profitably__text p {
  margin-bottom: 17px;
}
.profitably__text p:last-child {
  margin-bottom: 0;
}

.profitably__btn {
  max-width: 393px;
}

.profitably__img {
  border-radius: 10px;
  flex-grow: 1;
  max-height: 396px;
  max-width: 610px;
  margin: 15px;
  overflow: hidden;
  width: 49%;
}
.profitably__img img {
  display: block;
  object-fit: cover;
  height: 100%;
  width: 100%;
}

/* End Profitably */
.errorSend {
  border-color: #99006C;
  box-shadow: 0 0 10px rgba(153, 0, 108, 0.5);
}

/*# sourceMappingURL=index.css.map */
