@media (max-width: 1200px) {
    .advantage__items {
        margin: -45px;
    }

    .welcome__banner {
        font-size: 2.8rem;
        padding: 15px 75px;
    }
    .feedback__slider {
        margin: 0 -5vw;
    }

    .feedback__sliderItemContainer {
        margin: 0 5vw;
    }
}
@media (max-width: 1024px) {
    .mailing__content {
        display: block;
        max-width: none;
        width: 100%;
    }
    .welcome__banner {
        font-size: 2.3rem;
    }
    .mailing__title {
        margin: 0 0 45px 0;
        padding-right: 55px;
    }

    .mailing__img {
        top: 3px;
    }

    .mailing__video {
        bottom: auto;
        float: right;
        margin: 0 0 0 30px;
        position: static;
        width: 36.4vw;
    }

    .mailing__subtitle {
        font-size: 3.1rem;
    }

    .mailing__text {
        margin-bottom: 45px;
        min-height: 307px;
    }
    .welcome__title {
        font-size: 6.6rem;
    }

    .select__header {
        margin-bottom: 50px;
    }

    .select__headerItem {
        font-size: 1.8rem;
    }

    .select__slider.slick-dotted.slick-slider {
        margin-bottom: 50px;
    }

    .select__sliderItemContainer {
        max-width: 300px;
        padding: 0 5px;
    }
    .select__sliderItemContainer img {
        height: 29.9vw;
    }

    .select__sliderItemHave {
        width: 90%;
    }

    .offer__productTitle {
        font-size: 3rem;
    }

    .offer__productBody {
        min-width: 430px;
    }

    .size__bg {
        height: 400px;
        top: 111px;
    }

    .size_itemImg {
        height: 400px;
    }

    .size_itemTitle {
        font-size: 3rem;
    }

    .about__body {
        justify-content: space-between;
        min-height: auto;
    }

    .about__content {
        flex-shrink: 1;
        margin-right: 20px;
        min-width: auto;
        width: 54%;
    }

    .about__title {
        margin-bottom: 40px;
    }

    .about__text {
        flex-grow: 0;
        margin-bottom: 40px;
    }

    .about__images {
        min-width: 380px;
        width: 40%;
    }
    .about__images img:nth-child(1) {
        margin: 0 auto;
        height: auto;
        min-width: auto;
        width: 100%;
    }
    .about__images img:nth-child(2) {
        display: none;
    }
    .about__images img:nth-child(3) {
        display: none;
    }

    .advantage__items {
        justify-content: center;
        margin: -30px 0;
    }

    .advantage__item {
        margin: 30px auto;
        width: 280px;
    }

    .advantage__itemText {
        font-size: 2.8rem;
    }

    .advantage__itemImg {
        margin-bottom: 20px;
    }

    .feedback__slider {
        margin: 0;
    }

    .feedback__sliderItemContainer {
        height: 50vw;
        margin: 0 auto;
        max-height: 516px;
        width: 90%;
    }

    .info__itemTitle {
        font-size: 3rem;
    }

    .contact__subtitle {
        margin-bottom: 30px;
    }

    .contact__comTextItem {
        font-size: 2.6rem;
    }

    .profitably__img {
        width: 40%;
    }
}
@media (max-width: 900px) {
    .size_itemTitle {
        font-size: 2.6rem;
    }

    .size_itemWeight {
        font-size: 2.2rem;
    }

    .advantage__items {
        margin: -30px 0px;
    }
}
@media (max-width: 768px) {
    .mailing {
        margin-bottom: 100px;
    }
    .welcome__banner {
        font-size: 1.9rem;
        padding: 15px 20px;
        top: 125px;
    }
    .mailing__border {
        padding: 25px;
    }

    .mailing__img {
        height: 33px;
        width: 33px;
    }

    .mailing__subtitle {
        font-size: 2.7rem;
        margin-bottom: 20px;
    }

    .mailing__text {
        margin-bottom: 20px;
        min-height: 307px;
    }
    .mailing__text p {
        margin-bottom: 20px;
    }

    .mailing__formFields {
        margin-bottom: 20px;
    }

    .mailing__video {
        width: 30vw;
    }
    .welcome {
        margin-bottom: 100px;
    }

    .welcome__body {
        padding-bottom: 195px;
    }

    .welcome__title {
        font-size: 4.9rem;
    }

    .welcome__subtitle {
        font-size: 2rem;
        max-width: 500px;
    }

    .welcome__btns {
        flex-wrap: wrap;
        justify-content: center;
        margin: -10px;
    }

    .welcome__btn {
        max-width: 260px;
        margin: 10px;
    }
    .welcome__btn:last-child {
        margin-right: 10px;
    }

    .select {
        margin-bottom: 100px;
    }

    .select__header {
        justify-content: flex-start;
        margin-bottom: 40px;
    }

    .select__sliderItemContainer {
        max-width: 240px;
    }
    .select__sliderItemContainer img {
        height: auto;
        max-height: 230px;
    }

    .select__sliderItemHave {
        font-size: 1.2rem;
        padding: 6px 2px;
        width: 92%;
    }

    .select__sliderItemText {
        font-size: 1.5rem;
        margin-bottom: 5px;
    }

    .select__sliderPriceItem {
        font-size: 2.3rem;
    }

    .offer {
        margin-bottom: 100px;
    }

    .offer__product {
        flex-wrap: wrap;
        justify-content: center;
    }

    .offer__productImg {
        margin: 0 0 30px 0;
    }

    .offer__productBody {
        min-width: auto;
        width: 100%;
    }

    .offer__productTitle {
        font-size: 2.6rem;
    }

    .offer__productSize {
        margin-bottom: 30px;
    }

    .offer__productBtns {
        justify-content: space-between;
    }

    .size {
        margin-bottom: 100px;
    }
    .size .container {
        padding: 0;
    }

    .size__bg {
        display: none;
    }

    .size__title {
        padding: 0 20px;
    }

    .size__itemsBg {
        display: block;
        height: 300px;
    }

    .size__items {
        overflow-x: auto;
        padding-bottom: 20px;
    }

    .size_item {
        padding: 0 5px;
    }
    .size_item:nth-child(1) {
        min-width: 191px;
    }
    .size_item:nth-child(2) {
        min-width: 262px;
    }
    .size_item:nth-child(3) {
        min-width: 299px;
    }

    .size_itemImg {
        height: 300px;
    }

    .size_itemTitle {
        font-size: 2.4rem;
        margin-bottom: 15px;
    }

    .size_itemWeight {
        font-size: 2rem;
        margin-bottom: 15px;
    }

    .about {
        margin-bottom: 100px;
    }

    .about__body {
        overflow-x: auto;
        padding-bottom: 20px;
    }

    .about__content {
        min-width: 328px;
    }

    .advantage {
        margin-bottom: 100px;
    }

    .advantage__title {
        margin-bottom: 40px;
    }

    .advantage__itemsWrapper {
        padding: 35px 0;
    }

    .advantage__items {
        margin: -15px 0;
    }

    .advantage__item {
        margin: 15px auto;
    }
    .advantage__item img {
        height: 65px;
        width: 65px;
    }

    .advantage__itemText {
        font-size: 2.5rem;
    }

    .advantage__itemImg {
        margin-bottom: 10px;
    }

    .feedback {
        margin-bottom: 100px;
    }

    .feedback__slider.slick-dotted.slick-slider {
        margin-bottom: 40px;
    }

    .info {
        margin-bottom: 100px;
    }

    .info__map {
        height: 75vw;
        margin-right: 0;
    }

    .info__item {
        margin-bottom: 15px;
    }

    .info__itemTitle {
        font-size: 2.7rem;
        margin-bottom: 15px;
    }

    .info__items {
        min-width: auto;
        width: 100%;
    }

    .contact {
        margin-bottom: 100px;
    }

    .contact__text {
        max-width: none;
        min-width: 369px;
    }

    .contact__subtitle {
        font-size: 2rem;
    }

    .contact__comTextItem {
        font-size: 2rem;
    }

    .contact__form {
        max-width: none;
        width: 44%;
    }
    .contact__form .blockTextField {
        min-height: auto;
        padding: 15px 18px;
    }

    .profitably {
        margin-bottom: 100px;
    }

    .profitably__body {
        flex-wrap: wrap;
    }

    .profitably__title {
        margin-bottom: 20px;
    }

    .profitably__img {
        width: 45%;
    }
}
@media (max-width: 480px) {
    .welcome {
        background: url(../img/index/welcome/welcome_bg_mob.webp) no-repeat 50% 22%/cover;
        margin-bottom: 60px;
    }
    .welcome__banner {
        font-size: 1.2rem;
        padding: 10px 20px;
        top: 100px;
    }
    .welcome__title {
        font-size: 3.1rem;
        margin-bottom: 43px;
    }

    .welcome__subtitle {
        font-size: 1.6rem;
        max-width: 400px;
        margin-bottom: 55px;
    }

    .welcome__btn {
        max-width: 200px;
    }

    .select {
        margin-bottom: 60px;
    }

    .select__header {
        margin: 0 10px 30px;
    }

    .select__headerItem {
        font-size: 1.6rem;
        margin: 0 5px;
    }

    .select__slider .slick-slide {
        margin: -10px 0;
    }

    .select__slider.slick-dotted.slick-slider {
        margin-bottom: 30px;
    }

    .select__sliderItem {
        margin: 10px 0;
    }

    .select__sliderItemContainer {
        max-width: 200px;
    }
    .select__sliderItemContainer img {
        max-height: 190px;
        margin-bottom: 6px;
    }

    .select__sliderItemHave {
        top: 3px;
    }

    .select__sliderItemText {
        font-size: 1.3rem;
    }

    .select__sliderPriceItem {
        font-size: 2rem;
    }

    .offer {
        margin-bottom: 60px;
    }

    .offer__productImg {
        margin-bottom: 20px;
    }

    .offer__productTitle {
        font-size: 2.4rem;
    }

    .offer__productSize {
        margin-bottom: 20px;
    }

    .size {
        margin-bottom: 60px;
    }

    .size__bg {
        top: 87px;
    }

    .size__title {
        margin-bottom: 40px;
        padding: 0 5px;
    }

    .size_itemTitle {
        font-size: 2.1rem;
        margin-bottom: 10px;
    }

    .size_itemWeight {
        margin-bottom: 10px;
    }

    .about {
        margin-bottom: 60px;
    }

    .about__body {
        overflow-x: hidden;
        padding-bottom: 20px;
    }

    .about__content {
        margin: 0;
        min-width: auto;
        width: 100%;
    }

    .about__title {
        margin-bottom: 91vw;
    }

    .about__text {
        margin-bottom: 20px;
    }
    .about__text p {
        margin-bottom: 15px;
    }

    .about__images {
        height: 80vw;
        left: 0;
        min-width: auto;
        padding: 0;
        position: absolute;
        top: 20vw;
        width: 100%;
    }
    .about__images img:nth-child(1) {
        box-shadow: none;
        height: 100%;
        margin: 0;
        width: 59%;
    }
    .about__images img:nth-child(2) {
        box-shadow: none;
        display: block;
        height: 49%;
        right: 0;
        top: 0;
        width: 40%;
        z-index: auto;
    }
    .about__images img:nth-child(3) {
        bottom: 0;
        box-shadow: none;
        display: block;
        height: 50%;
        left: auto;
        right: 0;
        transform: none;
        width: 40%;
    }

    .about__btn {
        margin: 0 auto;
    }

    .advantage {
        margin-bottom: 60px;
    }

    .advantage__title {
        margin-bottom: 30px;
    }

    .advantage__item {
        width: 200px;
    }
    .advantage__item img {
        height: 50px;
        width: 50px;
    }

    .advantage__itemText {
        font-size: 2rem;
    }

    .feedback {
        margin-bottom: 60px;
    }

    .feedback__sliderItemContainer {
        height: 80vw;
        max-height: 380px;
        width: 95%;
    }

    .info {
        margin-bottom: 60px;
    }

    .info__itemTitle {
        font-size: 2.4rem;
    }

    .contact {
        margin-bottom: 60px;
    }

    .contact__content {
        margin: 0;
    }

    .contact__subtitle {
        margin-bottom: 20px;
    }

    .contact__text {
        margin: 0 0 20px 0;
        min-width: auto;
        width: 100%;
    }

    .contact__comText {
        margin-bottom: 20px;
    }

    .contact__comTextItem {
        margin-bottom: 20px;
    }

    .contact__comIcon {
        height: 40px;
        margin-right: 20px;
        width: 40px;
    }

    .contact__form {
        margin: 0;
        width: 100%;
    }
    .contact__form .blockTextField {
        margin-bottom: 25px;
        padding: 13px;
    }
    .contact__form textarea {
        height: 90px;
    }

    .profitably {
        margin-bottom: 60px;
    }

    .profitably__body {
        margin: 0;
        position: relative;
    }

    .profitably__content {
        margin: 0;
        width: 100%;
    }

    .profitably__title {
        margin-bottom: 67vw;
    }

    .profitably__text {
        margin-bottom: 30px;
    }

    .profitably__btn {
        margin: 0 auto;
    }

    .profitably__img {
        height: 55vw;
        left: 0;
        margin: 0;
        position: absolute;
        top: 12vw;
        width: 100%;
    }
    .mailing {
        margin-bottom: 60px;
    }

    .mailing__border {
        padding: 10px;
    }

    .mailing__title {
        margin: 0 0 30px 0;
        padding-right: 0;
    }

    .mailing__img {
        display: none;
    }

    .mailing__video {
        float: none;
        margin: 0 auto 20px auto;
        width: 50vw;
    }

    .mailing__subtitle {
        font-size: 2rem;
    }

    .mailing__text {
        min-height: auto;
        margin-bottom: 30px;
    }

    .mailing__formFieldTitle {
        font-size: 1.4rem;
    }

    .mailing__form .blockTextField {
        min-height: 48px;
    }

    .mailing__formFieldImg {
        height: 23px;
        width: 22px;
    }

    .mailing__formNote {
        font-size: 1.2rem;
    }
}
@media (max-width: 375px) {
    .welcome {
        margin-bottom: 50px;
    }
    .welcome__banner {
        font-size: 1rem;
        padding: 7px;
        top: 78px;
    }
    .welcome__title {
        font-size: 2.4rem;
        margin-bottom: 28px;
    }

    .welcome__subtitle {
        font-size: 1.4rem;
        max-width: 350px;
        margin-bottom: 35px;
    }

    .select {
        margin-bottom: 50px;
    }

    .select__sliderItemContainer {
        max-width: 160px;
    }
    .select__sliderItemContainer img {
        max-height: 150px;
    }

    .select__sliderItemHave {
        font-size: 1.1rem;
        padding: 2px;
        width: 90%;
    }

    .offer {
        margin-bottom: 50px;
    }

    .offer__productTitle {
        font-size: 2.2rem;
    }

    .offer__productSizeItemPriceBlock--old::before {
        top: 50%;
    }

    .size {
        margin-bottom: 50px;
    }

    .size__title {
        margin-bottom: 30px;
        padding: 0 5px;
    }

    .about {
        margin-bottom: 50px;
    }

    .advantage {
        margin-bottom: 50px;
    }

    .advantage__item {
        width: 165px;
    }
    .advantage__item img {
        height: 45px;
        width: 45px;
    }

    .advantage__itemText {
        font-size: 1.7rem;
    }

    .feedback {
        margin-bottom: 50px;
    }

    .feedback__slider.slick-dotted.slick-slider {
        margin-bottom: 20px;
    }

    .info {
        margin-bottom: 50px;
    }

    .info__itemTitle {
        font-size: 2.2rem;
    }

    .contact {
        margin-bottom: 50px;
    }

    .contact__subtitle {
        font-size: 1.7rem;
    }

    .contact__comTextItem {
        font-size: 1.8rem;
        margin-bottom: 15px;
    }

    .contact__form .blockTextField {
        padding: 10px;
    }
    .contact__form textarea {
        height: 100px;
    }

    .profitably {
        margin-bottom: 50px;
    }
    .mailing {
        margin-bottom: 50px;
    }

    .mailing__subtitle {
        font-size: 1.8rem;
    }

    .mailing__form .blockTextField {
        min-height: 42px;
    }

    .mailing__formFieldImg {
        height: 20px;
        top: 11px;
        width: 19px;
    }
}
@media (max-width: 320px) {
    .welcome {
        margin-bottom: 40px;
    }
    .welcome__banner {
        font-size: 0.9rem;
        padding: 5px;
    }
    .welcome__title {
        font-size: 2rem;
    }

    .welcome__subtitle {
        font-size: 1.2rem;
        max-width: 300px;
    }

    .welcome__btn {
        max-width: 190px;
    }

    .select {
        margin-bottom: 40px;
    }

    .select__sliderItemContainer {
        max-width: 155px;
    }
    .select__sliderItemContainer img {
        max-height: 145px;
    }

    .select__sliderPriceItem {
        font-size: 1.8rem;
    }

    .offer {
        margin-bottom: 40px;
    }

    .offer__productTitle {
        font-size: 2rem;
    }

    .size {
        margin-bottom: 40px;
    }

    .size_itemTitle {
        font-size: 2rem;
    }

    .size_itemWeight {
        font-size: 1.8rem;
    }

    .about {
        margin-bottom: 40px;
    }

    .advantage {
        margin-bottom: 40px;
    }

    .feedback {
        margin-bottom: 40px;
    }

    .info {
        margin-bottom: 40px;
    }

    .info__itemTitle {
        font-size: 2rem;
    }

    .contact {
        margin-bottom: 40px;
    }

    .contact__subtitle {
        font-size: 1.6rem;
    }

    .contact__comTextItem {
        font-size: 1.5rem;
    }

    .contact__form .blockTextField {
        padding: 10px;
    }
    .contact__form textarea {
        height: 100px;
    }

    .profitably {
        margin-bottom: 40px;
    }
    .mailing {
        margin-bottom: 40px;
    }

    .mailing__subtitle {
        font-size: 1.5rem;
    }
}

/*# sourceMappingURL=index_adaptation.css.map */
