@media (max-width: 1024px) {
  .description {
    flex-direction: column;
  }

  .description__imagesBlock {
    margin: 0;
    width: 100%;
  }

  .description__imagesBlock {
    flex-direction: row;
    margin-bottom: 50px;
  }

  .description__generalImg {
    margin: 0 20px 0 0;
  }

  .description__listImages {
    flex-direction: column;
    flex-shrink: 0;
    width: auto;
  }
  .description__listImages a {
    margin: 0 0 20px 0;
  }

  .description__contentBlock {
    min-width: auto;
    width: 100%;
  }

  .description__title {
    font-size: 3.5rem;
  }

  .description__priceItem {
    font-size: 3.5rem;
  }

  .description__sizeList {
    max-width: 500px;
    width: 100%;
  }

  .description__slider {
    max-width: none;
  }

  .description__slider {
    width: 90%;
  }
  .description__slider .slick-prev {
    left: 0;
  }
  .description__slider .slick-next {
    right: 0;
  }

  .description__addCart {
    justify-content: center;
    margin: 0 auto 70px auto;
    width: 80%;
  }

  .description__tabs {
    margin: 0 auto;
    width: 80%;
  }

  .description__tabName--calories {
    left: 38%;
  }
}
@media (max-width: 768px) {
  .main {
    margin: 170px 0 70px;
  }

  .description__title {
    font-size: 3rem;
  }

  .description__priceItem {
    font-size: 3rem;
  }

  .description__sizeTitle {
    font-size: 2.2rem;
  }

  .description__productionTime {
    font-size: 2.2rem;
  }

  .description__text {
    font-size: 2rem;
  }

  .description__text + .description__slider {
    margin-top: 50px;
  }

  .description__slider {
    margin-bottom: 50px;
    width: 100%;
  }

  .description__btnCart {
    padding: 15px;
  }

  .description__btnAddToCart {
    min-height: 65px;
  }

  .description__btnGoToCart.showBlock {
    min-height: 65px;
  }

  .description__tabs {
    width: 100%;
  }

  .description__tabName--storing:hover img, .description__tabName--storing.showBlock img {
    margin-right: 9px;
  }

  .description__tabsSeparate {
    margin-bottom: 30px;
  }

  .description__tabText,
.description__tabTitle {
    font-size: 2rem;
  }
}
@media (max-width: 600px) {
  .description__imagesBlock {
    flex-direction: column;
  }

  .description__generalImg {
    margin: 0 0 20px 0;
  }

  .description__listImages {
    flex-direction: row;
  }
  .description__listImages a {
    margin: 0 20px 0 0;
  }

  .description__addCart {
    justify-content: space-between;
    width: 100%;
  }

  .description__count {
    margin-right: 20px;
    width: 100px;
  }

  .description__tabName--calories {
    left: 33%;
  }
}
@media (max-width: 480px) {
  .main {
    margin: 150px 0 55px;
  }

  .description {
    margin-bottom: 60px;
  }

  .description__generalImg {
    height: 98vw;
    margin-bottom: 15px;
  }

  .description__listImages a {
    height: 70px;
    margin-right: 15px;
    width: 70px;
  }

  .description__title,
.description__price,
.description__sizeTitle,
.description__productionTime {
    margin-bottom: 20px;
  }

  .description__title,
.description__priceItem {
    font-size: 2.6rem;
  }

  .description__sizeTitle,
.description__productionTime {
    font-size: 2rem;
  }

  .description__sizeListItemTitle,
.description__sizeListItemPrice,
.description__text,
.description__tabTitle,
.description__tabText {
    font-size: 1.8rem;
  }

  .description__text + .description__slider {
    margin-top: 40px;
  }
  .description__text + .description__clientText {
    margin-top: 30px;
  }

  .description__slider {
    margin-bottom: 40px;
  }

  .description__addCart {
    justify-content: space-around;
    margin-bottom: 50px;
  }

  .productCount__countBtn {
    margin-top: 4px;
  }

  .description__count {
    margin-top: 8px;
  }

  .productCount__countNumber {
    font-size: 2.8rem;
  }

  .description__cartBtns {
    max-width: 300px;
  }

  .description__btnCart {
    font-size: 1.8rem;
  }

  .description__btnAddToCart {
    min-height: 60px;
  }

  .description__btnGoToCart.showBlock {
    min-height: 60px;
  }

  .description__btnGoToCart.showBlock {
    margin-top: 20px;
  }

  .description__tabsTitle {
    margin-bottom: 12px;
  }

  .description__tabName {
    font-size: 1.5rem;
  }
  .description__tabName img {
    height: 20px;
    width: 20px;
  }

  .description__tabName--calories {
    left: 32%;
  }

  .description__tabsSeparate {
    margin-bottom: 15px;
  }

  .description__tabTitle,
.description__tabComponentsText,
.description__tab ul li,
.description__tab p,
.description__tabColories .description__tabTitle,
.description__tabColoriesListItem {
    margin-bottom: 15px;
  }

  .description__tabColoriesListItemIcon {
    font-size: 2rem;
    height: 35px;
    margin-right: 14px;
    width: 35px;
  }
}
@media (max-width: 375px) {
  .main {
    margin: 115px 0 45px;
  }

  .description {
    margin-bottom: 50px;
  }

  .description__imagesBlock {
    margin-bottom: 40px;
  }

  .description__generalImg {
    margin-bottom: 10px;
  }

  .description__listImages a {
    height: 60px;
    margin-right: 10px;
    width: 60px;
  }

  .description__title,
.description__priceItem {
    font-size: 2.4rem;
  }

  .description__sizeTitle,
.description__productionTime {
    font-size: 1.8rem;
  }

  .description__sizeListItemTitle,
.description__sizeListItemPrice,
.description__text,
.description__tabTitle,
.description__tabText {
    font-size: 1.6rem;
  }

  .description__sliderItem span {
    font-size: 1.4rem;
  }

  .description__addCart {
    margin-bottom: 40px;
  }

  .description__count {
    width: 90px;
  }

  .productCount__countBtn {
    height: 19px;
    margin-top: 6px;
    width: 19px;
  }

  .productCount__countMin::before,
.productCount__countMax::before {
    left: 4px;
    top: 8px;
    width: 9px;
  }
  .productCount__countMin::after,
.productCount__countMax::after {
    height: 9px;
    left: 8px;
    top: 4px;
  }

  .productCount__countNumber {
    font-size: 2.4rem;
  }

  .description__btnCart {
    font-size: 1.5rem;
  }

  .description__btnAddToCart {
    min-height: 50px;
  }

  .description__btnGoToCart.showBlock {
    min-height: 50px;
  }

  .description__tabsTitle {
    height: 20px;
  }

  .description__tabName {
    font-size: 1.4rem;
  }
  .description__tabName img {
    height: 16px;
    margin-right: 5px;
    width: 16px;
  }

  .description__tabName--components:hover img, .description__tabName--components.showBlock img,
.description__tabName--calories:hover img,
.description__tabName--calories.showBlock img,
.description__tabName--storing:hover img,
.description__tabName--storing.showBlock img {
    margin-right: 4px;
  }

  .lang_ru .description__tabName--calories {
    left: 29%;
  }
  .description__tabName--calories {
    left: 33%;
  }
}
@media (max-width: 320px) {
  .main {
    margin: 100px 0 35px;
  }

  .description {
    margin-bottom: 40px;
  }

  .description__imagesBlock {
    margin-bottom: 30px;
  }

  .description__generalImg {
    margin-bottom: 5px;
  }

  .description__listImages a {
    margin-right: 5px;
  }

  .description__title,
.description__price,
.description__sizeTitle,
.description__productionTime {
    margin-bottom: 15px;
  }

  .description__title,
.description__priceItem {
    font-size: 2.2rem;
  }

  .description__sizeTitle,
.description__productionTime {
    font-size: 1.7rem;
  }

  .description__sizeListItemTitle,
.description__sizeListItemPrice,
.description__text,
.description__tabTitle,
.description__tabText {
    font-size: 1.5rem;
  }

  .description__text + .description__slider {
    margin-top: 30px;
  }
  .description__text + .description__clientText {
    margin-top: 20px;
  }

  .description__clientText {
    min-height: 115px;
    margin-bottom: 30px;
  }

  .description__slider {
    margin-bottom: 30px;
  }

  .description__sliderItem span {
    font-size: 1.3rem;
  }

  .description__count {
    width: 80px;
  }

  .productCount__countNumber {
    font-size: 2rem;
  }

  .description__btnCart {
    font-size: 1.3rem;
    padding: 8px;
  }

  .description__btnAddToCart {
    min-height: 45px;
  }

  .description__btnGoToCart.showBlock {
    min-height: 45px;
  }

  .description__btnGoToCart.showBlock {
    margin-top: 15px;
  }

  .description__tabName {
    font-size: 1.2rem;
  }

  .description__tabsSeparate {
    margin-bottom: 10px;
  }

  .description__tabTitle,
.description__tabComponentsText,
.description__tab ul li,
.description__tab p,
.description__tabColories .description__tabTitle,
.description__tabColoriesListItem {
    margin-bottom: 10px;
  }

  .description__tabColoriesListItemIcon {
    font-size: 1.8rem;
    height: 30px;
    margin-right: 10px;
    width: 30px;
  }
}

/*# sourceMappingURL=productCard_adaptation.css.map */
