.shop_cart_box {
    position: relative;
    top: 0;
    left: 0;
    background: #fff;
    width: 100%;
    width: 100%;
    height: max-content;
    z-index: 100000;
    overflow: visible;
}
.shop_cart_box .cart_body {
    overflow-y: visible;
}
