


        <!--Информация о доставке-->



		    <tr>
		        <td align="center">
		            <table align="center" cellpadding="0" cellspacing="0" width="100%" style="max-width: 660px; min-width: 320px; background-color: #FEEDD6">
                        <tr>
                            <td align="center" height="17">
                            </td>
                        </tr>
                        <tr>
                            <td align="center">
                            <table align="center" cellpadding="0" cellspacing="0" width="95%" style="max-width: 600px; min-width: 300px; background-color: #FEEDD6">
                               <tr>
                                   <td align="center"><p style="margin: 0; padding: 0; font-family: 'Roboto',sans-serif;font-style: normal;font-weight: 400;font-size: 16px;line-height: 16px;text-align: center;text-transform: uppercase;color: #000000; text-align: left">Информация о заказе и доставке</p></td>
                               </tr>
                                </table>

                            </td>
                        </tr>
                        <tr>
                            <td align="center" height="17">
                            </td>
                        </tr>
                    </table>

		        </td>
		    </tr>

		    <tr>
		        <td align="center">
		            <table align="center" cellpadding="0" cellspacing="0" width="95%" style="max-width: 600px; min-width: 300px;">
                        <tr>
                            <td align="center">

                            <table align="left" cellpadding="0" cellspacing="0" width="100%" style="max-width: 299px; min-width: 299px;">
                               <tr>
                                   <td align="center">
                                       <p style="margin: 0; padding: 0; margin-top: 25px; font-family: 'Roboto',sans-serif;font-style: normal;font-weight: 400;font-size: 16px;line-height: 19px;color: #000000;text-align: left; text-transform: uppercase;">Детали заказа</p>
                                        <p style="margin: 0; padding: 0; margin-top: 15px; font-family: 'Roboto',sans-serif;font-style: normal;font-weight: 400;font-size: 16px;line-height: 19px;color: #000000;text-align: left;"><strong>Заказ #:</strong> T-LWIB </p>
                                        <p style="margin: 0; padding: 0; font-family: 'Roboto',sans-serif;font-style: normal;font-weight: 400;font-size: 16px;line-height: 19px;color: #000000;text-align: left; margin-top: 10px;"><strong>Телефон:</strong> <a href="#" style="font-family: 'Roboto',sans-serif;font-style: normal;font-weight: 400;font-size: 16px;line-height: 19px;text-align: center;color: #000000;text-align: left;text-decoration: none;">+972 999-999-9999</a> </p>
                                       <p style="margin: 0; padding: 0; font-family: 'Roboto',sans-serif;font-style: normal;font-weight: 400;font-size: 16px;line-height: 19px;color: #000000;text-align: left; margin-top: 10px;"><strong>Email:</strong> <a href="#" style="font-family: 'Roboto',sans-serif;font-style: normal;font-weight: 400;font-size: 16px;line-height: 19px;text-align: center;color: #000000;text-align: left;text-decoration: none;">pochta@gmail.ru</a></p>
                                        <p style="margin: 0; padding: 0; font-family: 'Roboto',sans-serif;font-style: normal;font-weight: 400;font-size: 16px;line-height: 19px;color: #000000;text-align: left; margin-top: 10px;"><strong>Способ оплаты:</strong> PayPal </p>
                                        <p style="margin: 0; padding: 0; font-family: 'Roboto',sans-serif;font-style: normal;font-weight: 400;font-size: 16px;line-height: 19px;color: #000000;text-align: left; margin-top: 10px;"><strong>Статус оплаты:</strong> Оплачен</p>
                                        <p style="margin: 0; padding: 0; font-family: 'Roboto',sans-serif;font-style: normal;font-weight: 400;font-size: 16px;line-height: 19px;color: #000000;text-align: left; margin-top: 10px;"><strong>Статус заказа:</strong> В обработке</p>
                                        <p style="margin: 0; padding: 0; font-family: 'Roboto',sans-serif;font-style: normal;font-weight: 400;font-size: 16px;line-height: 19px;color: #000000;text-align: left; margin-top: 10px;"><strong>Способ доставки:</strong> Курьер</p>
                                   </td>
                               </tr>
                                </table>

                            <table align="left" cellpadding="0" cellspacing="0" width="100%" style="max-width: 299px; min-width: 299px;">
                               <tr>
                                   <td align="center">
                                       <p style="margin: 0; padding: 0; margin-top: 25px; font-family: 'Roboto',sans-serif;font-style: normal;font-weight: 400;font-size: 16px;line-height: 19px;text-align: center;color: #000000;text-align: left; text-transform: uppercase;">Детали доставки</p>
                                       <p style="margin: 0; padding: 0; font-family: 'Roboto',sans-serif;font-style: normal;font-weight: 400;font-size: 16px;line-height: 19px;text-align: center;color: #000000;text-align: left;margin-top: 15px;"><strong>Адрес:</strong> <a href="#" style="font-family: 'Roboto',sans-serif;font-style: normal;font-weight: 400;font-size: 16px;line-height: 19px;text-align: center;color: #000000;text-align: left;text-decoration: none;">г. Холон, ул. Амир Дрорри, дом 34, 2 этаж, квартира 12</a></p>
                                        <p style="margin: 0; padding: 0; font-family: 'Roboto',sans-serif;font-style: normal;font-weight: 400;font-size: 16px;line-height: 19px;text-align: center;color: #000000;text-align: left;margin-top: 10px;"><strong>Время:</strong> 24.04.2022, 12.00-15.00</p>
                                        <p style="margin: 0; padding: 0; font-family: 'Roboto',sans-serif;font-style: normal;font-weight: 400;font-size: 16px;line-height: 19px;text-align: center;color: #000000;text-align: left;margin-top: 25px;">Комментарий</p>
                                        <p style="margin: 0; padding: 0; font-family: 'Roboto',sans-serif;font-style: normal;font-weight: 400;font-size: 16px;line-height: 19px;text-align: center;color: #000000;text-align: left;margin-top: 15px;">Текст комментария от заказчика должен быть здесь.</p>

                                   </td>
                               </tr>
                            </table>
                            </td>
                        </tr>
                    </table>

		        </td>
		    </tr>
		    <tr>
		        <td height="40"></td>
		    </tr>

		    <!--Ваш Заказ ---------------->

		    <tr>
		        <td align="center">
		            <table align="center" cellpadding="0" cellspacing="0" width="100%" style="max-width: 660px; min-width: 320px; background-color: #FEEDD6">
                        <tr>
                            <td align="center" height="17">
                            </td>
                        </tr>
                        <tr>
                            <td align="center">
                            <table align="center" cellpadding="0" cellspacing="0" width="95%" style="max-width: 600px; min-width: 300px; background-color: #FEEDD6">
                               <tr>
                                   <td align="center"><p style="margin: 0; padding: 0; font-family: 'Roboto',sans-serif;font-style: normal;font-weight: 400;font-size: 16px;line-height: 16px;text-align: center;text-transform: uppercase;color: #000000; text-align: left">Ваш заказ</p></td>
                               </tr>
                                </table>

                            </td>
                        </tr>
                        <tr>
                            <td align="center" height="17">
                            </td>
                        </tr>
                    </table>

		        </td>
		    </tr>

		    <tr>
		        <td align="center">
		            <table align="center" cellpadding="0" cellspacing="0" width="100%" style="max-width: 660px; min-width: 320px; ">
                        <tr>
                            <td align="center" height="20">
                            </td>
                        </tr>
                        <tr>
                            <td align="center">
                            <table align="center" cellpadding="0" cellspacing="0" width="95%" style="max-width: 600px; min-width: 300px;">
                               <tr>
                                  <td align="left" style="max-width: 170px; min-width: 140px">
                                      <img src="https://i.ibb.co/mX8wjkd/Rectangle-80.png" width="130" height="130" style="display: block" alt="">
                                  </td>
                                   <td align="left" style="max-width: 430px">
                                        <p style="margin: 0; padding: 0; font-family: 'Roboto',sans-serif;font-style: normal;font-weight: 500;font-size: 16px;line-height: 16px;text-align: left;color: #000000; text-align: left">Безумный ягодный торт / размер Семейный</p>

                                        <table align="left" cellpadding="0" cellspacing="0" width="100%">
                                           <tr>
                                               <td height="20"></td>
                                           </tr>
                                            <tr>
                                                <td align="left">
                                                    <p style="margin: 0; padding: 0; font-family: 'Roboto',sans-serif;font-style: normal;font-weight: 400;font-size: 16px;line-height: 16px;text-align: left;color: #000000; text-align: left">Цена</p>
                                                    <p style="margin: 0; padding: 0;margin-top: 10px; font-family: 'Roboto',sans-serif;font-style: normal;font-weight: 300;font-size: 16px;line-height: 16px;text-align: left;color: #000000; text-align: left">150₪</p>
                                                </td>
                                                <td align="center">
                                                    <p style="margin: 0; padding: 0; font-family: 'Roboto',sans-serif;font-style: normal;font-weight: 400;font-size: 16px;line-height: 16px;text-align: left;color: #000000; text-align: center">Количество</p>
                                                    <p style="margin: 0; padding: 0;margin-top: 10px; font-family: 'Roboto',sans-serif;font-style: normal;font-weight: 300;font-size: 16px;line-height: 16px;text-align: left;color: #000000; text-align: center">2</p>
                                                </td>
                                                <td align="right">
                                                    <p style="margin: 0; padding: 0; font-family: 'Roboto',sans-serif;font-style: normal;font-weight: 400;font-size: 16px;line-height: 16px;text-align: left;color: #000000; text-align: right">Сумма</p>
                                                    <p style="margin: 0; padding: 0;margin-top: 10px; font-family: 'Roboto',sans-serif;font-style: normal;font-weight: 300;font-size: 16px;line-height: 16px;text-align: left;color: #000000; text-align: right">300₪</p>
                                                </td>
                                            </tr>
                                       </table>

                                   </td>
                               </tr>
                            </table>
                            </td>
                        </tr>
                        <tr>
                            <td align="center" height="20">
                            </td>
                        </tr>
                    </table>
		        </td>
		    </tr>



		    <!--Стоимость заказа ---------------->

		    <tr>
		        <td align="center">
		            <table align="center" cellpadding="0" cellspacing="0" width="100%" style="max-width: 660px; min-width: 320px; background-color: #FEEDD6">
                        <tr>
                            <td align="center" height="17">
                            </td>
                        </tr>
                        <tr>
                            <td align="center">
                            <table align="center" cellpadding="0" cellspacing="0" width="95%" style="max-width: 600px; min-width: 300px; background-color: #FEEDD6">
                               <tr>
                                   <td align="center"><p style="margin: 0; padding: 0; font-family: 'Roboto',sans-serif;font-style: normal;font-weight: 400;font-size: 16px;line-height: 16px;text-align: center;text-transform: uppercase;color: #000000; text-align: left">Стоимость заказа</p></td>
                               </tr>
                                </table>

                            </td>
                        </tr>
                        <tr>
                            <td align="center" height="17">
                            </td>
                        </tr>
                    </table>

		        </td>
		    </tr>

		    <tr>
		        <td align="center">
		            <table align="center" cellpadding="0" cellspacing="0" width="100%" style="max-width: 660px; min-width: 320px; ">
                        <tr>
                            <td align="center" height="20">
                            </td>
                        </tr>


                        <tr>
                            <td align="center">
                            <table align="center" cellpadding="0" cellspacing="0" width="95%" style="max-width: 600px; min-width: 300px;">
                               <tr>
                                    <td align="right">
                                    <table align="right" cellpadding="0" cellspacing="0" width="100%" style="max-width: 430px; min-width: 300px;">
                                       <tr>
                                          <td align="left" >
                                              <p style="margin: 0; padding: 0; font-family: 'Roboto',sans-serif;font-style: normal;font-weight: 500;font-size: 16px;line-height: 16px;color: #000000; text-align: left">Сумма</p>
                                          </td>
                                           <td align="left" style="max-width: 430px">
                                                <p style="margin: 0; padding: 0; font-family: 'Roboto',sans-serif;font-style: normal;font-weight: 300;font-size: 16px;line-height: 16px;color: #000000; text-align: right">510₪</p>

                                           </td>
                                       </tr>
                                       <tr>
                                           <td height="10"></td>
                                       </tr>
                                       <tr>
                                          <td align="left" >
                                              <p style="margin: 0; padding: 0; font-family: 'Roboto',sans-serif;font-style: normal;font-weight: 500;font-size: 16px;line-height: 16px;color: #000000; text-align: left">Промокод</p>
                                          </td>
                                           <td align="left" style="max-width: 430px">
                                                <p style="margin: 0; padding: 0; font-family: 'Roboto',sans-serif;font-style: normal;font-weight: 300;font-size: 16px;line-height: 16px;color: #000000; text-align: right">10₪</p>

                                           </td>
                                       </tr>
                                       <tr>
                                           <td height="10"></td>
                                       </tr>
                                       <tr>
                                          <td align="left" >
                                              <p style="margin: 0; padding: 0; font-family: 'Roboto',sans-serif;font-style: normal;font-weight: 500;font-size: 16px;line-height: 16px;color: #000000; text-align: left">Скидка</p>
                                          </td>
                                           <td align="left" style="max-width: 430px">
                                                <p style="margin: 0; padding: 0; font-family: 'Roboto',sans-serif;font-style: normal;font-weight: 300;font-size: 16px;line-height: 16px;color: #000000; text-align: right">0₪</p>

                                           </td>
                                       </tr>
                                       <tr>
                                           <td height="10"></td>
                                       </tr>
                                       <tr>
                                          <td align="left" >
                                              <p style="margin: 0; padding: 0; font-family: 'Roboto',sans-serif;font-style: normal;font-weight: 500;font-size: 16px;line-height: 16px;color: #000000; text-align: left">Чаевые</p>
                                          </td>
                                           <td align="left" style="max-width: 430px">
                                                <p style="margin: 0; padding: 0; font-family: 'Roboto',sans-serif;font-style: normal;font-weight: 300;font-size: 16px;line-height: 16px;color: #000000; text-align: right">8.1₪</p>

                                           </td>
                                       </tr>
                                       <tr>
                                           <td height="10"></td>
                                       </tr>
                                       <tr>
                                          <td align="left" >
                                              <p style="margin: 0; padding: 0; font-family: 'Roboto',sans-serif;font-style: normal;font-weight: 500;font-size: 16px;line-height: 16px;color: #000000; text-align: left">Доставка</p>
                                          </td>
                                           <td align="left" style="max-width: 430px">
                                                <p style="margin: 0; padding: 0; font-family: 'Roboto',sans-serif;font-style: normal;font-weight: 300;font-size: 16px;line-height: 16px;color: #000000; text-align: right">30₪</p>

                                           </td>
                                       </tr>
                                       <tr>
                                           <td height="20"></td>
                                       </tr>
                                    </table>
                                    </td>
                                </tr>
                                </table>

                            <table align="center" cellpadding="0" cellspacing="0" width="95%" style="max-width: 600px; min-width: 300px;">
                               <tr>
                                    <td align="right">
                                    <table align="right" cellpadding="0" cellspacing="0" width="100%" style="max-width: 430px; min-width: 300px;">
                                       <tr>
                                          <td align="left" >
                                              <hr style="margin: 0; padding: 0;" width="99%" size="1px" color="#AD7D80">
                                           </td>
                                        </tr>
                                    </table>
                                   </td>
                                </tr>
                            </table>

                            <table align="center" cellpadding="0" cellspacing="0" width="95%" style="max-width: 600px; min-width: 300px;">
                               <tr>
                                    <td align="right">
                                    <table align="right" cellpadding="0" cellspacing="0" width="100%" style="max-width: 430px; min-width: 300px;">
                                      <tr>
                                          <td height="20"></td>
                                      </tr>
                                       <tr>
                                          <td align="left" >
                                              <p style="margin: 0; padding: 0; font-family: 'Roboto',sans-serif;font-style: normal;font-weight: 500;font-size: 16px;line-height: 16px;color: #000000; text-align: left; text-transform: uppercase">Итоговая сумма</p>
                                          </td>
                                           <td align="left" style="max-width: 430px">
                                                <p style="margin: 0; padding: 0; font-family: 'Roboto',sans-serif;font-style: normal;font-weight: 500;font-size: 16px;line-height: 16px;color: #000000; text-align: right">538.1₪</p>

                                           </td>
                                       </tr>
                                       <tr>
                                           <td height="10"></td>
                                       </tr>

                                    </table>
                                    </td>
                                </tr>
                                </table>
                            </td>
                        </tr>


                        <tr>
                            <td align="center" height="40">
                            </td>
                        </tr>
                    </table>
		        </td>
		    </tr>

